<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to polymorphic microblog</h1>
      <p>You can sign in with:</p>

      <%= link_to "Sign in with Facebook", "/auth/facebook" %> | <%= link_to "Sign in with GitHub", "/auth/github" %>
    </div>
  </div>
</div>
