<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to polymorphic microblog</h1>
      <% if current_user %>

      <% else %>
        <p>You can sign in with:</p>
        <%= link_to "Sign in with Facebook", "/auth/facebook", class: 'btn btn-default' %>  <%= link_to "Sign in with GitHub", "/auth/github", class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
